@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* applying this fon't family to everything */
* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.buttonShadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
}

.buttonShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}

.terms {
  border-radius: 25px;
  border: 2px solid #CC5500;
  padding: 40px 40px 0px 40px;
  box-shadow: 2px 2px 0 0 #CC5500
}

.logo {
  width: 20%;
  height: auto;
}

.gif {
  border-radius: 20%;
  animation: mymove 4s infinite;
  width: 60%;
  height: auto;
}


.footer {
  background-color: 	#012345;
  border-top: 2px solid #CC5500;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
}